#error-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 90dvh;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #error-404-logo {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  button {
    justify-content: center;
  }

  #error-test-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    p{
      color: $gray-800;

    }
    #error-text{
      text-align: center;
      color: $gray-700;
    }
  }

  button {
    @include shadow-primary;
    span {
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $white;
      }
    }
  }
}

#error-footer {
  padding-left: 50px;
}
