.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: white;
  max-width: 400px;
  max-height: 500px;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#modal-logo {
  background: linear-gradient(to bottom, $gray-400, $gray-100);
  border-radius: 10px 10px 0 0;
  padding: 10px 30px;
  border-bottom: 1px solid $gray-300;
}

#modal-background {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  filter: opacity(20%);
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.modal-specialist{
  display: flex;
  .modal-specialist-author{
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    p{
      @include text-m;
    }
  }
}

.modal-success {
  @include text-xl;
  color: $success;
}

.modal-body{
  @include text-m;
  color: $gray-600;
  .divider{
    margin-top: 10px;
    border: 1px solid $gray-300;
  }
}