@mixin input-shadow{
  box-shadow: 0 0px 5px rgba(99, 102, 241, 0.15);
}

input {
  border: 1px solid $gray-400;
  border-radius: 5px;
  padding-left: 30px;
  @include text-m;
  color: $gray-700;

  &:focus {
    outline: none;
    @include input-shadow;
  }
}

.form-input{
  display: flex;
  flex-direction: column;
  input{
    height: 52px;
    padding-left: 16px;
    &:focus{
      @include input-shadow;
    }
  }
}

.form-text-label{
  color: $gray-900;
}


.contact-text-field{
  padding-left: 10px;
}

.contact-time-field{
  padding: 5px;
}

.sub-right {
  div {
    display: flex;
  }
}

.subscriber-form {
  position: relative;
  display: flex;

  input{
    border-radius: 4px 0 0 4px;
    position: relative;
    margin-bottom: 4px;
    min-height: 36px;
    &:focus{
      @include input-shadow;
    }
  }
}

.subscriber-form .icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

@include sm{
  .subscriber-form{
    input{
      display: grid;
      place-items: center;
    }
  }
}

@include mobile{
  .subscriber-form{
    height: auto;
  }
}

@mixin form-l{
  height: 52px;
}

.error-message-span{
  color: $danger;
  background-color: #fde8e8;
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
}

#footer-dark-subscription{
  .error-message-span{
    background-color: #2d1825;
  }
}

.subscriber-form {
  @include sm {
    width: 300px;
  }
}

.sub-right {
  .subscriber-form {
    .subscriber-form-input {
      input {
        @include sm {
          width: 90%;
        }
      }
    }
  }
}