.contact-icon {
  background-color: $white;
  padding: 16px;
  border-radius: 50%;
}

@mixin icon-rounded{
  background-color: $white;
  padding: 16px;
  border-radius: 50%;
}

#section-email{
  height: 28px;
  width: 28px;
  @include icon-rounded;
}
