#app-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
  #app-features-mobile-image {
    max-width: 70%;
    height: auto;
  }

  #feature-grid {
    display: grid;
    grid-template-rows: auto 1fr;

    #feature-grid-header {
      h2 {
        padding-bottom: 10px;
      }
      padding-bottom: 25px;
    }

    #right-bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      padding-top: 20px;
      @include xl {
        grid-template-columns: 1fr;
        .feature-grid-test {
          max-width: 60%;
          @include lg {
            max-width: 100%;
          }
          padding: 15px;
        }
      }
      @include lg {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
      @include md {
        grid-template-columns: 1fr;
        place-items: center;
      }

      .feature-grid-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 24px;

        p{
          color: $gray-700;
          @include text-m;
        }

        .feature-icon {
          place-self: start;
          height: 28px;
          width: 28px;
          padding: 10px;
          @include border-l;
          background-color: rgba(99, 102, 241, 0.12);
        }

        h5 {
          padding-bottom: 5px;
        }
      }
    }
  }
}

@include lg {
  #app-features {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    #app-features-mobile-image {
      padding-right: 0;
    }

    #right-top {
      h2 {
        text-align: center;
        padding-top: 20px;
      }
      p {
        text-align: center;
      }
    }
  }
}
